@{

}

@model _2proj2.Models.ViewModels.FormInfo


<h1>Fill out time form</h1>

<div>
    <form method="post" asp-action="TimeForm">
        @*<label asp-for="@c.TimeID">"@c.TimeID\>@c.Start"-"@c.TimeID\>@c.End"</label>
        <br />*@
        <label asp-for="@Model.time.Start">@Model.time.Start</label>
        <br />
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="@Model.user.Name">Name</label>
        <input asp-for="@Model.user.Name" /><br />

        <label asp-for="@Model.user.GroupSize">GroupSize</label>
        <input asp-for="@Model.user.GroupSize" /><br />

        <label asp-for="@Model.user.Email">Email</label>
        <input asp-for="@Model.user.Email" /><br />

        <label asp-for="@Model.user.PhoneNumber">PhoneNumber</label>
        <input asp-for="@Model.user.PhoneNumber" /><br />

        <input type="hidden" asp-for="@Model.time.TimeID" />

        <button type="submit">Submit User Information</button>
    </form>
</div>