@model List<_2proj2.Models.User>

<h3>Scheduled Appointments</h3>
<br />


<div>

</div>

<table class="table table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Group Size</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (User u in Model)
        {
            <tr>
                <td>@u.Start.Date.ToString("MM/dd/yyyy")</td>
                <td>@u.Start.ToString("hh:mm tt")</td>
                <td>@u.Name</td>
                <td>@u.Email</td>
                <td>@u.Phone</td>
                <td>@u.GroupSize</td>
                <td>
                    <a href="/Appointment/Update/@u.GroupId" class="btn btn-warning">Edit</a>
                    <a href="/Appointment/Delete/@u.GroupId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
